#container {
    width: 970px;
    margin: auto;
    border: 1px solid gray;
}


header {
    display: flex;
    gap: 20px;
    padding: 10px;
}

button {
    width: 100px;
    border: 0;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 10px;
}

input {
    width: 80px;
    text-align: center;
}

#sketch {
    display: flex;
    flex-wrap: wrap;
}


#sketch div {
    border: 1px solid grey;
    flex-grow: 1;
}

.wrap {
    min-width: 100%;
    border: 0 !important;
    height: 0 !important;
}