#container {
    width: 970px;
    margin: auto;
    border: 1px solid gray;
}


header {
    display: flex;
}

#sketch {
    display: flex;
    flex-wrap: wrap;
}


#sketch div {
    border: 1px solid red;
    flex-grow: 1;
}

.wrap {
    min-width: 100%;
    border: 0 !important;
    height: 0 !important;
}